extends layout 

block scripts 
  script(type="module" src="/javascripts/scriptPrize.js" defer)

block content 
  div.page-wrapper 
    h1= title 
    p(style="font-size:0.8rem;color:gray")= "$" + total.toFixed(2)

    h3 Wizards of the Coast
    hr
    div.binder-container
      each card in wotc
        a(href=`/collection/${card._id}`)
          div.prize-card-container
            div.prize-img-container(id=card._id)
              img(src=card.meta.images.large, alt=card.pokemon.name)
              div.prize-overlay 
            div.prize-info-container 
              a(href=`/collection/${card._id}`)= card.pokemon.name 
              p= "$" + card.value.market.toFixed(2)

    h3 Pokémon Company
    hr
    div.binder-container
      each card in elite
        a(href=`/collection/${card._id}`)
          div.prize-card-container
            div.prize-img-container(id=card._id)
              img(src=card.meta.images.large, alt=card.pokemon.name)
              div.prize-overlay 
            div.prize-info-container 
              a(href=`/collection/${card._id}`)= card.pokemon.name 
              p= "$" + card.value.market.toFixed(2)

    h3 Trainer
    hr
    div.binder-container
      each card in trainer
        a(href=`/collection/${card._id}`)
          div.prize-card-container
            div.prize-img-container(id=card._id)
              img(src=card.meta.images.large, alt=card.pokemon.name)
              div.prize-overlay 
            div.prize-info-container 
              a(href=`/collection/${card._id}`)= card.pokemon.name 
              p= "$" + card.value.market.toFixed(2)