extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/binder.css")

block scripts 
  script(type="module", src="/javascripts/binder.js") 

block content 
  div.page-wrapper 
    div.title-wrapper
      h1= title 
        nbsp 
        span(style="font-size:0.8rem;color:gray")= `${curr === "eur" ? "€" : "$"}${total.toFixed(2)}`
      button#removeBinderBtn(type="button") Delete Binder
      div#formContainer.remove-binder-form-container.hidden
        button#closeDelForm(type="button") ❌
        form(method="POST", action=`/collection/binders/remove`) 
          input(type="hidden", name="binder", value=binder)
          button#delBtn(type="submit") Delete Binder

    hr
    div.binder-container 
      each card in cards
        a(href=`/collection/${card._id}`)
          div.prize-card-container
            div.prize-img-container(id=card._id)
              img(src=card.meta.images.large, alt=card.pokemon.name)
              div.prize-overlay 
            div.prize-info-container 
              a(href=`/collection/${card._id}`)= card.pokemon.name 
              p= `${curr === "eur" ? "€" : "$"}` + (card.value.market * curr_convert).toFixed(2)
  