extends layout 

block content 
  div.page-wrapper 
    h1= title 
      span(style="font-size:0.8rem;color:gray")= ` $${total.toFixed(2)}`

    if (wotc.length)
      h3 Wizards of the Coast
        - const wotc_total = wotc.reduce((acc, next) => acc + next.value.market, 0).toFixed(2)
        span.binder_sub_total= ` - $${wotc_total}`
      hr
      div.binder-container
        each card in wotc
          a(href=`/collection/${card._id}`)
            div.prize-card-container
              div.prize-img-container(id=card._id)
                img(src=card.meta.images.large, alt=card.pokemon.name)
                div.prize-overlay 
              div.prize-info-container 
                a(href=`/collection/${card._id}`)= card.pokemon.name 
                p= "$" + card.value.market.toFixed(2)

    if (elite.length)
      h3 Pokémon Company
        - const elite_total = elite.reduce((acc, next) => acc + next.value.market, 0).toFixed(2)
        span.binder_sub_total= ` - $${elite_total}`
      hr
      div.binder-container
        each card in elite
          a(href=`/collection/${card._id}`)
            div.prize-card-container
              div.prize-img-container(id=card._id)
                img(src=card.meta.images.large, alt=card.pokemon.name)
                div.prize-overlay 
              div.prize-info-container 
                a(href=`/collection/${card._id}`)= card.pokemon.name 
                p= "$" + card.value.market.toFixed(2)

    if (trainer.length)
      h3 Trainer
        - const trainer_total = elite.reduce((acc, next) => acc + next.value.market, 0).toFixed(2)
        span.binder_sub_total= ` - $${trainer_total}`
      hr
      div.binder-container
        each card in trainer
          a(href=`/collection/${card._id}`)
            div.prize-card-container
              div.prize-img-container(id=card._id)
                img(src=card.meta.images.large, alt=card.pokemon.name)
                div.prize-overlay 
              div.prize-info-container 
                a(href=`/collection/${card._id}`)= card.pokemon.name 
                p= "$" + card.value.market.toFixed(2)