extends layout 

block styles  
  link(rel="stylesheet" href="/stylesheets/detail.css")

block scripts 
  script(type="module" src="/javascripts/scriptDetail.js" defer)

block content 
  if msg
    div#msg.msg-container
      p= msg

  div#auto-update-form-container.form-separator.auto-update-container
    div#close-btn.close-btn ❌ 
      p close
    h3 Change Price Update Method
    p= `This will change your price update to ${!card.value.maualUpdate ? "manual. While manual, you will need to input the price yourself to update" : "auto. While auto, price updates will fetch the latest US market price from TCG Player."}`
    form.auto-update-form-form(method="POST" action=`/collection/${card._id}/change-update-value`)
      input#cardId(type="hidden" name="cardId" required="true" value=card._id)
      input#isManual(type="hidden" name="isManual" required="true" value=`${!card.value.manualUpdate}` )
      button.btn.btn-primary(type="submit")= `Change to ${card.value.manualUpdate ? "auto" : "manual"}`

  div.page-wrapper
    a(href=`/collection/sets#${card.meta.set.id}`) Back to sets
    h1= title 
    if (!card.binder)
      em(style='margin-top:-10px;color:transparent') Collection Binder 
    else 
      em(style='margin-top:-10px')= `${card.binder[0].toUpperCase() + card.binder.substring(1)} Binder` 

    div.card-detail-container 
      div.detail-img-container 
        img(src=card.meta.images.large, alt=card.pokemon.name)
      div.detail-info-container
        div.info-card-container
          h2 #{card.pokemon.name}
            if card.meta.rarity.reverseHolo 
              em(style="font-size:.7rem;color:silver")  Reverse Holo
            if card.value.priceType[0] === "1"
              em(style="font-size:.7rem;color:silver")  1st Edition
          em= card.meta.rarity.type
        div.info-set-container 
          div 
            img(src=card.meta.set.symbol, alt=card.meta.set.name height="40px")
            div
              p #{card.meta.set.name} 
              p.small-text= card.meta.set.series
                span(style="font-size:.6rem; color:gray")  (#{card.meta.set.releaseDate.slice(0, 4)})
              p.small-text= `${card.meta.set.number}/${card.meta.set.totalPrint}`
        div.info-market-container
          div.current-price-container
            p Current Market Value: 
            h2 $#{card.value.market.toFixed(2)}
            div#auto-update-toggle(class=`auto-update${card.value.manualUpdate ? " manual" : ""}`)= `${card.value.manualUpdate ? "manual" : "auto"}`
          h3 Price over time 
          div.price-history-container
            ul 
              each pricePoint in card.value.priceHistory 
                li.small-text= `${pricePoint[0]}: ` 
                  span(style="font-size:1rem")= ` $${Number(pricePoint[1]).toFixed(2)}`

    div.card-edits-container
      div.form-separator
        form.card-edit-rarity-form(method="POST" action=`/collection/${card._id}/edit-rarity`)
          input#objId(type="hidden" name="objId" required="true" value=card._id)
          input#rarity(type="number" name="rarity" required="true" value=card.meta.rarity.grade)
          button.btn.btn-primary(type="submit") Edit Rarity 

      div.form-separator
        if (card.value.manualUpdate)
          form.card-edit-form(method="POST" action=`/collection/${card._id}/update-value`)
            input#cardValue(type="number" step="0.01" min="0.01" name="cardValue" required="true" placeholder=card.value.market)
            input#cardId(type="hidden" name="cardId" required="true" value=card.id)
            input#cardValueType(type="hidden" name="cardValueType" required="true" value=card.value.priceType)
            button.btn.secondary-btn(type="submit") Update Price
        else 
          form.card-edit-form(method="POST" action=`/collection/${card._id}/update-value`)
            input#cardId(type="hidden" name="cardId" required="true" value=card.id)
            input#cardValueType(type="hidden" name="cardValueType" required="true" value=card.value.priceType)
            button.btn.secondary-btn(type="submit") Update Price

      form.card-edit-form(method="POST" action=`/collection/${card._id}/select-binder`) 
        input#objId(type="hidden" name="objId" required='true' value=card._id)
        select#binder(type='select' name="binder" required="true") 
          option(value="none" selected=(!card.binder))
          option(value="prize" selected=(card.binder === "prize")) Prize Binder
          option(value="elite" selected=(card.binder === "elite")) Elite Binder
        button.btn.btn-secondary(type="submit") Select Binder

    div.delete-card-container
      div.delete-card 
        a(href=`/collection/${card._id}/delete`) Delete Card
