extends layout 

block content 
  div.page-wrapper
    a(href=`/collection/sets#${card.meta.set.id}`) Back to sets
    h1= title 
    if currentUser.prize.includes(card._id)
      em(style='margin-top:-10px') Prize Binder 
    else if currentUser.elite.includes(card._id) 
      em(style='margin-top:-10px') Elite Binder
    else 
      em(style='margin-top:-10px;color:transparent') Collection Binder 

    div.card-detail-container 
      div.detail-img-container 
        img(src=card.meta.images.large, alt=card.pokemon.name)
      div.detail-info-container
        div.info-card-container
          h2 #{card.pokemon.name}
            if card.meta.rarity.reverseHolo 
              em(style="font-size:.7rem;color:silver")  Reverse Holo
          em= card.meta.rarity.type
        div.info-set-container 
          div 
            img(src=card.meta.set.symbol, alt=card.meta.set.name height="40px")
            div
              p #{card.meta.set.name} 
              p.small-text= card.meta.set.series
                span(style="font-size:.6rem; color:gray")  (#{card.meta.set.releaseDate.slice(0, 4)})
              p.small-text= `${card.meta.set.number}/${card.meta.set.totalPrint}`
        div.info-market-container
          div.current-price-container
            p Current Market Value: 
            h2 $#{card.value.market.toFixed(2)}
          h3 Price over time 
          div.price-history-container
            ul 
              each pricePoint in card.value.priceHistory 
                li.small-text= `${pricePoint[0]}: ` 
                  span(style="font-size:1rem")= ` $${Number(pricePoint[1]).toFixed(2)}`

    div.card-edits-container
      div.form-separator
        form.card-edit-rarity-form(method="POST" action=`/collection/${card._id}/edit-rarity`)
          input#objId(type="hidden" name="objId" required="true" value=card._id)
          input#rarity(type="number" name="rarity" required="true" value=card.meta.rarity.grade)
          button.btn.btn-primary(type="submit") Edit Rarity 

      div.form-separator
        form.card-edit-form(method="POST" action=`/collection/${card._id}/update-value`)
          input#cardId(type="hidden" name="cardId" required="true" value=card.id)
          input#cardValueType(type="hidden" name="cardValueType" required="true" value=card.value.priceType)
          button.btn.secondary-btn(type="submit") Update Price

      form.card-edit-form(method="POST" action=`/collection/${card._id}/select-binder`) 
        input#objId(type="hidden" name="objId" required='true' value=card._id)
        select#binder(type='select' name="binder" required="true") 
          option(value="none" selected=(!currentUser.prize.includes(card._id) && !currentUser.elite.includes(card._id) ? "selected" : false))
          option(value="prize" selected=(currentUser.prize.includes(card._id) ? "selected" : false)) Prize Binder
          option(value="elite" selected=(currentUser.elite.includes(card._id) ? "selected" : false)) Elite Binder
        button.btn.btn-secondary(type="submit") Select Binder

    div.delete-card-container
      div.delete-card 
        a(href=`/collection/${card._id}/delete`) Delete Card
