extends layout 

block scripts 
  script(type="module" src="/javascripts/scriptHome.js" defer)

block content 
  header.home-header 
    h1= title 
    div.sort-container 
      form.form-wrapper(method="GET" action="/sort-collection") 
        fieldset
          legend Sort Options


  div.collection-container 
    if !card_list.length
      p No cards in collection yet

    else 
      each card in card_list
        div.collection-item(id=card._id) 
          div(style="width:10%").collection-item-img
            img(src=card.meta.images.small, alt=`${card.pokemon.name} card`)
          div.collection-item-details
            div
              p.collection-card-name= card.pokemon.name 
                if card.meta.rarity.reverseHolo 
                  span(style="font-size:.7rem;color:gray")  Reverse Holo
              p.collection-card-rarity= card.meta.rarity.type
          div
            p.collection-card-set= card.meta.set.name
            p.collection-card-set-no=` (${card.meta.set.number}/${card.meta.set.totalPrint})`
          div(style="width:10%").collection-item-value 
            p= `$${card.value.market.toFixed(2)}`
