extends layout 

block scripts 
  script(type="module" src="/javascripts/scriptHome.js" defer)

block content 
  header.home-header 
    h1= title + " " 
      span(style="font-size:.8rem;color:gray;font-weight:normal")= '$' + total.toFixed(2)
      span(style="margin-left:10px;font-size:.8rem;color:gray;font-weight:normal")= "(" + currentUser.cards.length + ")"
    div.sort-container 
      form.form-wrapper(method="GET" action="/collection/home/sort") 
        fieldset
          legend Sort by...
          select#by(name="by") 
            option(value="value" default hidden)  
            option(value="rarity") Rarity 
            option(value="value") Market Value
            option(value="name") Name 
            option(value="set") Set
            option(value="supertype") Card Type
          select#asc(name="asc") 
            option(value=false default hidden)
            option(value=false) Descending
            option(value=true) Ascending 
          button.btn.btn-secondary(type="submit") Sort

  div.collection-container 
    if !card_list.length
      p No cards in collection yet

    else 
      each card in card_list
        div.collection-item(id=card._id class=`${currentUser.prize.includes(card._id) ? "prize-binder" : currentUser.elite.includes(card._id) ? "elite-binder" : ""}`) 
          div(style="width:10%").collection-item-img
            img(src=card.meta.images.small, alt=`${card.pokemon.name} card`)
          div.collection-item-details
            div
              p.collection-card-name= card.pokemon.name 
                if card.meta.rarity.reverseHolo 
                  span(style="font-size:.7rem;color:gray")  Reverse Holo
              p.collection-card-rarity= card.meta.rarity.type
          div
            p.collection-card-set= card.meta.set.name
            p.collection-card-set-no=` (${card.meta.set.number}/${card.meta.set.totalPrint})`
          div(style="width:10%").collection-item-value 
            p= `$${card.value.market.toFixed(2)}` 
