extends layout 

block content 
  div.page-wrapper
    h1= title 
    if !card_list.length 
      p Sorry, no results found 

    else
      div.results-wrapper
        each card in card_list 
          div.result-container
            div(class=`result-img-container${user_cards.has(card.id) || user_reverse_cards.has(card.id) ? " owned" : ""}`) 
              img(src=card.images.small, alt=card.name)
            div.result-info-container 
              p.result-title= card.name 
              p.result-set= card.set.name 
              p.result-number= card.number + "/" + card.set.printedTotal
              p $#{!card.tcgplayer ? " not available" : !card.tcgplayer.prices ? "  not available" : card.tcgplayer.prices.holofoil && card.tcgplayer.prices.holofoil.market ? card.tcgplayer.prices.holofoil.market.toFixed(2) : card.tcgplayer.prices.holofoil && card.tcgplayer.prices.holofoil.mid ? card.tcgplayer.prices.holofoil.mid.toFixed(2) : card.tcgplayer.prices.normal && card.tcgplayer.prices.normal.market ? card.tcgplayer.prices.normal.market.toFixed(2) : card.tcgplayer.prices.normal && card.tcgplayer.prices.normal.mid ? card.tcgplayer.prices.normal.mid.toFixed(2) : card.tcgplayer.prices.unlimitedHolofoil ? card.tcgplayer.prices.unlimitedHolofoil.market.toFixed(2) : card.tcgplayer.prices.unlimited ? card.tcgplayer.prices.unlimited.market.toFixed(2) : card.tcgplayer.prices["1stEdition"] ? card.tcgplayer.prices["1stEdition"].market.toFixed(2) : card.tcgplayer.prices["1stEditionHolofoil"] ? card.tcgplayer.prices["1stEditionHolofoil"].market.toFixed(2) : card.tcgplayer.prices.reverseHolofoil ?  card.tcgplayer.prices.reverseHolofoil.mid.toFixed(2) : "No price available"}
              if !user_cards.has(card.id)
                form.add-card-form(method="POST" action="/collection/add-card") 
                  input#cardId(type="hidden" name="cardId" required="true" value=card.id)
                  input#reverseHoloCheck(type="hidden" name="reverseHoloCheck", value="false")
                  button.btn.btn-secondary(type="submit") Add Card
              else 
                p.result-in-collection(style="font-size:.7rem") In collection: ✔️
              
              if !user_reverse_cards.has(card.id)
                form.add-card-form(method="POST" action="/collection/add-card") 
                  input#cardId(type="hidden" name="cardId" required="true" value=card.id)
                  input#reverseHoloCheck(type="hidden" name="reverseHoloCheck", value="true")
                  button.btn.btn-secondary(type="submit" style="font-size:.7rem;width:91px") Add Reverse Holo
              else 
                p.result-in-collection(style="font-size:.7rem") Reverse Holo: ✔️